.verification {
    min-height: 68vh;
    .roadmap-section-div {
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before {
            content: "";
            border-top: 2px solid #1fa5ff;
            position: absolute;
            top: 45%;
            width: 85%;
            right: 7%;
        }
        .roadimg1 {
            p {
                font-weight: 530;
                font-size: 16px;
                margin-top: -20px;
                text-align: center;
                color: #4d5d76;
            }
            img {
                position: relative;
            }
        }
        // .roadimg1 {
        //     position: relative;
        //     &::before {
        //         content: "Registration";
        //         position: absolute;
        //         bottom: 0%;
        //         left: 17%;
        //     }
        // }
        // .roadimg2 {
        //     position: relative;
        //     &::before {
        //         content: " Verify C-Chain Wallet Ownership";
        //         position: absolute;
        //         bottom: 0%;
        //         left: 17%;
        //     }
        // }
        // .roadimg3 {
        //     position: relative;
        //     &::before {
        //         content: "KYC Authentication";

        //         position: absolute;
        //         bottom: 0%;
        //         left: 17%;
        //     }
        // }
    }
    .verification-top {
        h3 {
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            text-align: center;
            color: #212121;
            margin-bottom: 30px;
        }
        hr {
            border: 1px solid #1fa5ff;
        }
    }
    .verification-inner {
        .Myprofile {
            padding: 40px 40px;
            background: #ffffff;
            box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
            border-radius: 0px 0px 10px 10px;
            .kycVeriP {
                color: #4d5d76;
            }
            .card .card-body {
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 155%;
                }
            }
            .card {
                border: 1px solid #ededed;
                .card-body {
                    .verifyCard {
                        display: flex;
                        align-items: center;
                        background: #e8f5ff;
                        box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
                        border-radius: 5px;
                        padding: 10px 15px;
                        border-left: 6px solid #1fa5ff;
                        cursor: pointer;
                    }
                    .verifyCard2 {
                        display: flex;
                        align-items: center;
                        background: #e8f5ff;
                        box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
                        border-radius: 5px;
                        padding: 19px 20px;
                        // border-left: 6px solid #1fa5ff;
                        cursor: pointer;
                    }
                }
            }
            .card-header {
                border-bottom: 1px solid #ededed;
                background: none;
            }
            .filter-input-div input {
                background: #ffffff;
                border: 2px solid #d2edff;
                box-sizing: border-box;
                border-radius: 10px;
                width: 100%;
                outline: none;
                padding: 10px 20px;
                color: #b5c1d4;
                padding-right: 45px;
            }
            .filter-input-div .searchImg {
                position: absolute;
                right: 30px;
                top: 14px;
                cursor: pointer;
            }
            .photoVideo-div{
                padding: 20px 30px;
                background: #F6FAFF;
            }
            .Passport-div{
                img{
                    object-fit: cover;
                    height: 500px;
                }
            }
            
        }
        .nav-link {
            border-radius: 10px 10px 0px 0px;
            background: #e8f5ff;
            font-weight: 500;
            font-size: 16px;
            color: #4d5d76;
            margin-right: 5px;
            width: 171px;
            text-align: center;
        }
        .nav-link.active {
            color: #ffffff;
            background: #1fa5ff;
        }
    }
    .btn-common-grey {
        padding: 10px 24px;
        background: #fff;
        border-radius: 25px;
        border: 2px solid transparent;
        // padding: 10px 15px;
        width: 147px;
        height: 44px;
        cursor: pointer;
        color: #acacac;
        text-decoration: none;
        border: 1px solid #acacac;
        font-size: 16px;
        text-transform: uppercase;
        // &:hover {
        //     background: #1fa5ff;
        //     color: #fff;
        // }
    }

    @media (max-width: 767px) {
        .verification-inner .nav-link {
            width: auto;
            font-weight: 400;
            font-size: 14px;
        }
    }
    @media (max-width: 601px) {
        .kyc-top-logo {
            width: 70px;
        }
        .roadmap-section-div::before {
            content: "";
            border-top: 1px solid #1fa5ff;
            position: absolute;
            top: 37%;
            width: 68%;
            right: 17%;
        }
        .roadmap-section-div .roadimg1 p {
            font-weight: 500;
            font-size: 12px;
            margin-top: -20px;
            text-align: center;
            color: #9eadc5;
        }
        .photoVideo-div{
            padding: 10px 15px !important;
        }
        .Passport-div{
            img{
                object-fit: cover;
                height: auto !important;
            }
        }
        .card-body{
            padding: 0.5rem;
        }
    }
}

.dark {
    .verification {
        min-height: 68vh;
        background: #000915;
        .roadmap-section-div {
            &::before {
                border-top: 2px solid #1fa5ff;
            }
            .roadimg1 {
                p {
                    color: #9eadc5;
                }
            }
            // .roadimg1 {
            //     position: relative;
            //     &::before {
            //         content: "Registration";
            //         position: absolute;
            //         bottom: 0%;
            //         left: 17%;
            //     }
            // }
            // .roadimg2 {
            //     position: relative;
            //     &::before {
            //         content: " Verify C-Chain Wallet Ownership";
            //         position: absolute;
            //         bottom: 0%;
            //         left: 17%;
            //     }
            // }
            // .roadimg3 {
            //     position: relative;
            //     &::before {
            //         content: "KYC Authentication";

            //         position: absolute;
            //         bottom: 0%;
            //         left: 17%;
            //     }
            // }
        }
        .verification-top {
            h3 {
                color: #fff;
            }
            hr {
                border: 1px solid #1fa5ff;
            }
        }
        .verification-inner {
            .Myprofile {
                background: #00040a;
                box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);

                .kycVeriP {
                    color: #9eadc5;
                }
                .card .card-body {
                    p {
                    }
                }
                .card {
                    border: 0.5px solid #253446;
                    .card-body {
                        background: #00040a;
                        .verifyCard {
                            background: #000f28;
                            box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
                            border-left: 6px solid #1fa5ff;
                            p:nth-child(1) {
                                font-weight: 500;
                                font-size: 14px;
                                color: #ffffff;
                            }
                        }
                        .verifyCard2 {
                            background: #000f28;
                            box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
                            // border-left: 6px solid #1fa5ff;
                            p:nth-child(1) {
                                font-weight: 500;
                                font-size: 14px;
                                color: #ffffff;
                            }
                        }
                    }
                }
                .card-header {
                    border-bottom: 1px solid #253446;
                    background: #00040a;
                }
                .filter-input-div input {
                    background: #000f28;
                    border: 2px solid #253446;
                    color: #b5c1d4;
                    position: relative;
                }
                .filter-input-div .searchImg {
                    position: absolute;
                }
                .photoVideo-div{
                    background: #000f28;
                }
            }
            .nav-link {
                background: #000f28;
                color: #9EADC5;
            }
            .nav-link.active {
                color: #ffffff;
                background: #1fa5ff;
            }
        }
        .btn-common-grey {
            background: #00040a;
            color: #acacac;
            border: 1.5px solid #253446;
            // &:hover {
            //     background: #1fa5ff;
            //     color: #fff;
            // }
        }
        a {
            color: #1fa5ff;
        }
        .form-group {
            h5 {
                color: #9eadc5;
            }
        }
    }
}
.rotate {
    animation: rotation 3s infinite linear;
  }
@keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }