html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif !important;
}

.row {
  margin: 0;
  padding: 0;
}

.p-0 {
  padding: 0px;
}

.p0 {
  padding: 0px;
}

// All transitions
div,
ul,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

textarea {
  resize: none;
  height: 60px;
  width: 100%;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

h1 {
  font-size: 56px !important;
  font-weight: 700 !important;
}

.grey {
  color: #8ca0b9;
}

.ptb20 {
  padding: 20px 0;
}

h2 {
  font-size: 42px !important;
  font-style: normal !important;
}
.common-color {
  color: #1fa5ff !important;
}
p {
  font-size: 16px;
}
.brdr {
  height: 2px;
  width: 100%;
  background-color: #d2edff;
  display: inline-block;
}

.btn-common {
  padding: 13px 27px;
  background: #1fa5ff;
  border-radius: 25px;
  border: 2px solid transparent;
  // margin: 10px 0;
  // padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  min-width: 120px;
}
button {
  cursor: pointer;
}


.btn-common-outline {
  padding: 10px 27px;
  // background: #FFD2D2;
  background: #ffff;
  border-radius: 25px;
  border: 2px solid transparent;
  // padding: 10px 15px;
  cursor: pointer;
  color: #1fa5ff;
  text-decoration: none;
  border: 1px solid #1fa5ff;
  font-size: 16px;
  &:hover {
    background: #1fa5ff;
    color: #fff;
  }
}
.btn-green {
  border-radius: 25px;
  border: 2px solid transparent !important;
  padding: 8px 27px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 10px;
  background: #04d400;
  box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
  // padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border: none;
  &:hover {
    background: #04d400;
    color: #fff;
  }
}
.truncate {
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-red {
  padding: 13px 27px;
  background: #FF5757;
  border-radius: 25px;
  border: 2px solid transparent;
  // margin: 10px 0;
  // padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  min-width: 120px;
}
.btn-black {
  padding: 10px 27px;
  background: #000;
  border-radius: 25px;
  border: 2px solid transparent !important;
  margin: 10px 0;
  // padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 14px;
}
.imgFlex {
  display: flex;
  align-items: center;
}
.btn-white {
  border-radius: 25px;
  border: 2px solid transparent !important;
  padding: 8px 27px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 10px;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
  // padding: 10px 15px;
  color: #1fa5ff;
  text-decoration: none;
  border: none;
}
.btn-white1 {
  border-radius: 25px;
  border: 2px solid transparent !important;
  padding: 8px 17px;
  font-weight: 500;
  font-size: 16px;
  margin: 0 10px;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
  // padding: 10px 15px;
  color: #1fa5ff;
  text-decoration: none;
  border: none;
}
.MuiOutlinedInput-input {
  // margin-bottom: 30px!important;
  // width: 450px !important;
  // padding: .5px 14px;
  height: 64px !important;
  padding: 0px 20px !important;
  font-family: "poppins" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 24px;
  background: transparent !important;
  border: 1.5px solid #d2edff !important;
  border-radius: 9px !important;
  color: #1f1f1f!important;
  outline: none !important;
  &::placeholder {
    font-family: "poppins" !important;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    line-height: 15px;
    color: #adadad !important;
  }
  &:hover {
    // border: 1.5px solid #d2edff !important;
    outline: none !important;
  }
}
.MuiTypography-colorTextSecondary {
  margin-top: 4px !important;
  color: #f44336 !important;
}
.MuiOutlinedInput-root {
  border-radius: 9px !important;
}
.shsjsjsx {
  .MuiOutlinedInput-input {
    // margin-bottom: 30px!important;
    // width: 450px !important;
    // padding: .5px 14px;
    height: 100px !important;
    padding: 0px 20px !important;
    font-family: "poppins" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 24px;
    background: #ffffff;
    border: 1.5px solid #1fa5ff;
    border-radius: 9px !important;
    color: #1f1f1f ;
    outline: none !important;
    &::placeholder {
      font-family: "poppins" !important;
      font-style: normal;
      // font-weight: 500;
      // font-size: 14px!important;
      line-height: 24px;
      font-size: 16px;
      line-height: 15px;
      color: #adadad !important;
    }
    &:hover {
      // border: 1.5px solid #d2edff !important;
      outline: none !important;
    }
  }
  .MuiOutlinedInput-inputMultiline {
    padding: 18.5px 14px !important;
  }
  .MuiOutlinedInput-multiline {
    padding: 0px 0 0px !important;
  }
}

.w100 {
  width: 100%;
}

.btn-common2 {
  padding: 15px 27px;
  background: transparent;
  border: 2px solid #1fa5ff !important;
  border-radius: 25px;
  margin: 10px 0;
  // padding: 10px 15px;
  color: #1fa5ff;
  text-decoration: none;
  border: none;
  font-size: 14px;
}
.progress-bar {
  background: #1fa5ff;
}
.progress {
  background-color: #d2edff;
}
.p-main {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1fa5ff;
}
.ptb {
  padding: 60px 0;
}

.yellow {
  color: #e09414;
}
.border-img {
  border-radius: 10px;
}

.common {
  color: #1fa5ff;
}

.green {
  color: #6dff39;
}

.red {
  color: #f41e5e;
}
.white {
  color: #fff !important;
}

.navbar-toggle {
  background-color: #333;

  .icon-bar {
    background-color: #eee;
  }
}


@media only screen and (max-width: 600px) {
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline: none;

    &:focus {
      outline: none;
    }
    a {
      text-decoration: none;
    }
    .form-inline {
      flex-flow: unset !important;

      /* align-items: center; */
      flex-direction: column !important;
      justify-content: start !important;
      /* text-align: left; */
    }
  }

  .main-footer {
    text-align: center;

    .text-right {
      text-align: center !important;
    }
  }

  .main-about .main-tile .inner-tile li {
    padding-right: 0px;
  }

  .main-team {
    .inner-content {
      .carousel-control-next {
        right: 0 !important;
        left: 40px !important;
        top: -44px !important;
        height: 30px;
      }
      .carousel-control-prev {
        right: 0 !important;
        left: 0px !important;
        top: -44px !important;
        height: 30px;
      }
    }
  }

  // .main-navbar {
  //   .modal-dialog {
  //     position: relative;
  //     width: 48%;
  //     margin: .5rem;
  //     pointer-events: none;
  // }
  // }

  .main-about {
    .inner-img {
      img {
        margin: 20px auto !important;
      }
    }
  }

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 2rem !important;
    font-weight: bold;
    text-align: center;
  }

  .ptb {
    padding: 30px 0;
  }

  .xs-0 {
    padding: 0px;
  }

  .main-mint,
  .main-banner {
    .inner-content {
      .modal-content {
        .for-padding {
          padding: 0 0px !important;
        }
      }
    }
  }
  .owl-carousel.owl-loaded {
    display: block;
    height: 400px;
  }

  .community {
    .main-tile1 {
      background: rgba(30, 32, 41, 0.4);
      border: 2px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
      backdrop-filter: blur(50px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 30px;
      .inner-value {
        margin: 5px 7px !important;
      }
      .brdr {
        height: 60px;
        width: 1px;
        background: grey;
      }
    }
  }
}
// 12 pro
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .nav-brand {
    margin-left: 15px;
  }
  .owl-carousel.owl-loaded {
    display: block;
    height: 400px;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
    font-weight: bold;
  }

  .ptb {
    padding: 20px 0;
  }
  .community {
    .main-tile1 {
      background: rgba(30, 32, 41, 0.4);
      border: 2px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
      backdrop-filter: blur(50px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 30px;
      .inner-value {
        margin: 5px 7px !important;
      }
      .brdr {
        height: 60px;
        width: 1px;
        background: grey;
      }
    }
  }
}
// 12 pro max
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .nav-brand {
    margin-left: 15px;
  }
  .owl-carousel.owl-loaded {
    display: block;
    height: 400px;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2.5rem !important;
    font-weight: bold;
  }

  .ptb {
    padding: 20px 0;
  }

  .community {
    .main-tile1 {
      background: rgba(30, 32, 41, 0.4);
      border: 2px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
      backdrop-filter: blur(50px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 30px;
      .inner-value {
        margin: 5px 7px !important;
      }
      .brdr {
        height: 60px;
        width: 1px;
        background: grey;
      }
    }
  }
}

.dark {
  .btn-white {
    border-radius: 25px;
    border: 2px solid transparent !important;
    padding: 8px 27px;
    font-weight: 500;
    font-size: 16px;
    margin: 0 10px;
    background: #000915;
    text-decoration: none;
    border: none;
  }
  p {
    color: #9eadc5;
  }
  .MuiOutlinedInput-input {
    // margin-bottom: 30px!important;
    // width: 450px !important;
    // padding: .5px 14px;
    height: 64px !important;
    padding: 0px 20px !important;
    font-family: "poppins" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 24px;
    background: #000f28 !important;
    border: 1.5px solid #253446 !important;
    border-radius: 9px !important;
    color: #b5c1d4 !important;
    outline: none !important;
    &::placeholder {
      font-family: "poppins" !important;
      font-style: normal;
      line-height: 24px;
      font-size: 16px;
      line-height: 15px;
      color: #b5c1d4 !important;
    }
    &:hover {
      // border: 1.5px solid #d2edff !important;
      outline: none !important;
    }
  }
  .MuiTypography-colorTextSecondary {
    margin-top: 4px !important;
    color: #f44336 !important;
  }
  .MuiOutlinedInput-root {
    border-radius: 9px !important;
  }
  .shsjsjsx {
    .MuiOutlinedInput-input {
      // margin-bottom: 30px!important;
      // width: 450px !important;
      // padding: .5px 14px;
      height: 100px !important;
      padding: 0px 20px !important;
      font-family: "poppins" !important;
      font-style: normal;
      font-weight: 500;
      font-size: 18px !important;
      line-height: 24px;
      background: #000f28;
      border: 1.5px solid #253446 !important;
      border-radius: 9px !important;
      color: #b5c1d4;
      outline: none !important;
      &::placeholder {
        font-family: "poppins" !important;
        font-style: normal;
        // font-weight: 500;
        // font-size: 14px!important;
        line-height: 24px;
        font-size: 16px;
        line-height: 15px;
        color: #b5c1d4 !important;
      }
      &:hover {
        // border: 1.5px solid #d2edff !important;
        outline: none !important;
      }
    }
    .MuiOutlinedInput-inputMultiline {
      padding: 18.5px 14px !important;
    }
    .MuiOutlinedInput-multiline {
      padding: 0px 0 0px !important;
    }
  }
  .form-group {
    h3 {
      color: #fff;
    }
  }
  .progress {
    background: #000f28;
  }
  .btn-common-outline {
    padding: 10px 27px;
    background: #000f28;
    border-radius: 25px;
    border: 2px solid transparent;
    cursor: pointer;
    color: #1fa5ff;
    text-decoration: none;
    border: 1px solid #1fa5ff;
    font-size: 16px;
  }
  .brdr {
    height: 1px;
    background: #9EADC5;
  }
}

iframe{
  position: unset!important;
  top: 0px!important;
  left: 0px!important;
  width: 0px!important;
  height: 0px!important;
}

.walletconnect-modal__base {
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  border-radius: 24px;
  font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text", medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 41px;
  padding: 8px 72px 61px!important;
  pointer-events: auto;
  position: relative;
  text-align: center;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  overflow: visible;
  transform: translateY(-50%);
  top: 55%!important;
  max-width: 500px;
  margin: auto;
}


.MuiBackdrop-root{
  z-index: 2!important;
}

.shdshhgdss{
  width: 100px!important;
  height: 100px!important;
}