.main-footer {
    background-image: url("../../../Assets/footer-light-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .inner-icon {
        text-align: left;
        h4 {
            margin: 10px 0 15px;
            font-size: 18px;
        }
        ul {
            li {
                padding-bottom: 5px;
                a:hover{
                    color: #1FA5FF;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-footer {
        .inner-icon {
            text-align: center;
            h4 {
                margin: 10px 0 15px;
                font-size: 18px;
            }
            ul {
                li {
                    padding-bottom: 5px;
                }
            }
        }
    }
}

.dark {
    .main-footer {
        background-image: url("../../../Assets/footer-dark-bg.png");
        background-color: #000f28;

        .inner-icon {
            h4 {
                color: #fff;
            }
            ul {
                li {
                    color: #9eadc5;
                }
            }
        }
    }
}


.footer_para{
    text-align: center;
    margin-bottom: 15px;
    color: #fff !important;
}
.footer_para_bottom{
    text-align: center;
    font-size: 12px !important;
}