.trustedPartners {
    background: #F3FAFF;
    .trustedPartners-heading {
        h1 {
        }
        p {
            font-weight: normal;
            font-size: 18px;
            text-align: center;
            color: #4d5d76;
        }
    }
    .cardTeam {
        margin-top: 30px;
        background: #f6faff;
        border: 1px solid #e6ebf1;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 24px 17px;
        height: 131px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            // height: 196px;
            object-fit: cover;
            border-radius: 10px;
        }
        &:hover {
            border: 1px solid #1fa5ff;
            box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
        }
    }
}
.dark {
    .trustedPartners {
        background: #000915;
        .trustedPartners-heading {
            h1 {
            }
            p {
                font-weight: normal;
                font-size: 18px;
                text-align: center;
                color: #9eadc5;
            }
        }
        .cardTeam {
            background: #000F28;
            border: 1px solid #253446;
            img {
            }
            &:hover {
                border: 1px solid #1fa5ff;
                box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
                
            }
        }
    }
}
