.main-faqs {
    background: #f6faff;
    .inner-content {
        position: relative;
        margin-bottom: 40px;
        h3 {
            font-weight: bold;
            font-size: 30px;
            line-height: 36px;
            color: #212121;
        }
        img {
            position: absolute;
            right: 80px;
        }
    }
    .inside-btn {
        .btn-black {
            cursor: pointer;
        }
    }
    .bg-img {
        background-image: url("../../../Assets/sign-up-background.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        border-radius: 15px;
    }
    // modal
    .modal {
        .modal-content {
            border-radius: 10px;
            overflow: hidden;
            border: none;
        }

        .modal-body {
            padding: 0;
        }
        .modalHeader {
            position: relative;
            .modalCloser {
                position: absolute;
                top: 5px;
                right: 6px;
                cursor: pointer;
                background: #ffffff;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
        }
        .form-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 150px;
            background-image: url("../../../Assets/sign-up-background.png");
            background-size: cover;
            p {
                font-weight: bold;
                font-size: 30px;
                text-align: center;

                color: #ffffff;
            }
        }
        .adminCard {
            // background: #ffffff;
            // box-shadow: 0px 4px 30px rgba(31, 165, 255, 0.1);
            overflow: hidden;
            border-radius: 10px;
        }
        .adminCard-inner-inputs {
            padding: 30px 40px;
        }
    }
    @media (max-width: 661px) {
        .adminCard .form-img p {
            font-size: 25px;
        }
        .adminCard-inner-inputs {
            padding: 25px 13px;
        }
        .modal .adminCard-inner-inputs {
            padding: 23px 24px;
        }
    }
}
.dark {
    .main-faqs {
        background: #000915;
        .inner-content {
            h3 {
                color: #fff;
            }
        }
        .bg-img {
            background-image: url("../../../Assets/sign-up-background.png");
        }
        // modal
        .modal {
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);
            .modalHeader {
                .modalCloser {
                    background: #ffffff;
                }
            }
            .form-img {
                background-image: url("../../../Assets/sign-up-background.png");
                p {
                    color: #ffffff;
                }
            }
            .modal-body {
                background: #00040A;;
            }
        }
    }
}
