.main-banner {
  .shvxsc{
    position: relative;
  }
  // background-image: url("../../../Assets/header-background.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center bottom;
  background-color: #0b0c22 !important;

  // background-image: url("../../../Assets/header-background.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position-x: right;
  // background-position-y: bottom;

  .inner-content {
    .but {
      padding: 15px 27px;
      background: #1fa5ff;
      border-radius: 25px;
      cursor: pointer;
      color: #fff;
      border: none;
      font-size: 16px;
      font-weight: 500;
      min-width: 120px;
    }
    .inner-img {
      .main-heading {
        color: #212121;
        margin-top: 20px;
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
      }
      .submain-heading {
        color: #1fa5ff;
        font-weight: 700;
        margin-top: 0px;
        font-size: 28px;
        line-height: 33px;
      }
      .card-wraps {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 23px;
        padding: 30px 10px 10px 10px;
        .cards {
          // background-color: rgba(255, 255, 255, 0.8);
          text-align: center;
          font-size: 22px;
          font-weight: 500;
          line-height: 29.7px;
          margin-top: 5px;
          color: #000000;
          border-radius: 10px;
          .header {
            width: 75%;
            margin: auto;
            border-bottom: 1px solid #d2edff;
            padding: 20px 20px;
          }
          .heading {
            p {
              font-weight: 600;
              text-align: center;
              font-size: 50px;
              line-height: 67px;
              padding-top: 10px;
              color: #1fa5ff;
              span {
                font-size: 20px;
                line-height: 27px;
                color: #82cdff;
              }
            }
          }
          .toks {
            .sub {
              color: #82cdff;
              font-size: 14px;
              line-height: 18px;
              font-weight: 400;
            }
            .titl {
              color: #5a5a5a;
              font-size: 16px;
              line-height: 21px;
              font-weight: 500;
            }
          }
        }
        .card-bord {
          
          border: 3px solid #1fa5ff;
          background: #252633 !important;
        }
        .card-bordwhite {
          // position: relative;
          border: 3px solid #f0f4f8;
        }
        
      }
      h6 {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        /* identical to box height */

        text-transform: uppercase;

        color: #1fa5ff;
      }
      margin-bottom: 20px;
      .btn-common2 {
        padding: 8px 20px;
        margin-top: 50px;
      }
    }
  }
}

.dark {
  .main-banner {
    min-height: 100vh;
    // background: #000915;
    // background-image: url("../../../Assets/header-background-dark.png");
    background-color: #0b0c22 !important;
  }
  .inner-content {
    .inner-img {
      .main-heading {
        color: #fff;
        margin-top: 20px;
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
      }
      h1 {
        color: #fff;
      }
      h6 {
        color: #1fa5ff;
      }
      p {
        color: #9eadc5;
      }
    }
  }
  .main-banner .inner-content .inner-img .card-wraps .card-bordwhite {
    border: 3px solid #000915;
    background: #000915 !important;
  }
  .main-banner .inner-content .inner-img .card-wraps .cards .toks .titl {
    color:  #48566D;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}
.main-banner .inner-content .inner-img .card-wraps .cards .header {
  width: 75%;
  margin: auto;
  border-bottom: 1px solid #d2edff;
  padding: 20px 20px;
  color: #fff;
}
}

@media (max-width: 991px) {
  .main-banner {
    .inner-content {
      .inner-img {
        .card-wraps {
          grid-template-columns: auto auto;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .main-banner {
    .inner-content {
      .inner-img {
        .card-wraps {
          grid-template-columns: auto auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .main-banner {
    text-align: center;
  }
  .btn-common {
    padding: 8px 16px;
  }
  .main-banner .btn-common {
    font-size: 14px;
    img {
      height: 16px;
    }
  }
  .main-banner .inner-content .inner-img .btn-common2 {
    padding: 8px 14px;
  }
  .main-banner .inner-content .inner-img .btn-common2 {
    padding: 2px 20px;
    margin-top: 0px;
    img {
      height: 15px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-banner {
    .inner-content {
      .inner-img {
        .card-wraps {
          grid-template-columns: auto;
        }
      }
    }
  }
}


.my_btn{
  line-height: normal !important;
}


.sold-out111{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(18, 22, 25, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(248, 233, 233);
  font-weight: bold;
  font-size: 64px;
  opacity: 0.8;
  z-index: 999;
  // background: transparent !important;
}