.admin {
    background: #000915 !important;
    .table-striped tbody tr:nth-of-type(odd) {
        background: #f3faff;
    }
    .filter-input-div {
        input {
            background: #ffffff;
            border: 2px solid #d2edff;
            box-sizing: border-box;
            border-radius: 10px;
            width: 100%;
            outline: none;
            padding: 5px 20px;
            color: #b5c1d4;
            &::placeholder {
                color: #b5c1d4;
            }
        }
        h3 {
            font-weight: bold;
            font-size: 30px;
            color: #1fa5ff;
        }
    }
    .table-main {
        padding: 20px 0px;
        background: #ffffff;
        box-shadow: 0px 4px 30px 0px #1fa5ff1a;
        border-radius: 10px;
    }
    .custom-table {
        tbody {
            .roundImg {
                width: 45px;
                height: 45px;
            }
            tr td {
                border-top: none;
                .imgDetail {
                    :nth-child(1) {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #212121;
                    }
                    :nth-child(2) {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 20px;
                        color: #a5a4a8;
                    }
                }
                .buttonCustom {
                    padding: 10px 27px;
                }
            }
        }
    }
    @media (max-width: 768px) {
        // .filter-input-div h3 {
        //     font-weight: bold;
        //     font-size: 21px;
        //     padding-top: 13px;
        //     color: #1fa5ff;
        // }
    }
}


.dark{
    .admin {
        background: #000915;
        .table-striped tbody tr:nth-of-type(odd) {
            background: #000f28;
            border-radius: 110px;
        }
        .filter-input-div {
            input {
                background: #000F28;
                border: 2px solid #253446;
              
                color: #b5c1d4;
                &::placeholder {
                    color: #b5c1d4;
                }
            }
            h3 {
                color: #1fa5ff;
            }
        }
        .table-main {
            background: #00040A;
            box-shadow: 0px 4px 30px 0px #1fa5ff1a;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 1px solid #253446;
            color:  #fff;;
        }
        .table th {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #253446;
        }
        .custom-table {
           
            tbody {
                .roundImg {
                }
                tr td {
                    border-top: none;
                    color:  #9EADC5;;
                    .imgDetail {
                        :nth-child(1) {
                            color:  #fff;;
                        }
                        :nth-child(2) {
                            color: #a5a4a8;
                        }
                    }
                    .buttonCustom {
                    }
                }
            }
        }
    } 
}

.ahashab{
    color: #0581d3;
}

.avsas{
    color: red;
}

.ahbashb{
    background-color: rgb(54, 241, 7);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 14px 30px;
}