.community {
    .main-tile1 {
        
        background: rgba(30, 32, 41, 0.4);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        backdrop-filter: blur(50px);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 30px;
        margin-bottom: 20px;
        .inner-value {
            margin: 5px 30px;
        }
        .brdr {
            height: 60px;
    width: 1px;
    background: grey;
        }
    }
}