<!DOCTYPE html>
<html>
  <head>
    <script src= 'https://cdn.blockpass.org/widget/scripts/release/3.0.2/blockpass-kyc-connect.prod.js'></script>
  </head>
<body>
<button id="blockpass-kyc-connect">Verify with Blockpass</button>
  <script>
      const blockpass = new window.BlockpassKYCConnect(
        'projectstarter', // service client_id from the admin console
        {
          refId: 1234, // assign the local user_id of the connected user
        }
      )
      blockpass.startKYCConnect()
      
      blockpass.on('KYCConnectSuccess', () => {
        //add code that will trigger when data have been sent. ex:
        //alert('Success!')
      })
  </script> 
</body>
</html>
